@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

/* General Reset */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Title Styling */
#video-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #444;
  text-align: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(123, 49, 49, 0.1);
}

/* Video Styling */
.screen {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

/* Controls Container */
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.btn {
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.fa {
  pointer-events: none;
}

/* Progress Bar */
.progress {
  flex: 1;
  margin: 0 1rem;
  appearance: none;
  height: 6px;
  border-radius: 3px;
  background-color: #ddd;
  outline: none;
}

.progress::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.progress::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Timestamp */
.timestamp {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #666;
}

.video-details {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
}

.video-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.video-details p, .video-details li {
  font-size: 1rem;
  margin: 5px 0;
}

.video-details ul {
  list-style: none;
  padding: 0;
}

.video-details ul li {
  padding-left: 1.5em;
  position: relative;
}

.video-details ul li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #007bff;
}



@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}